<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html{
  font-family: 'Bebas Neue', cursive;
}

.App{
  background-color: #000;
  color: #fff;
  height: 100vh;
}

.logo{
  width: 10%;
}

.top-header{
  font-size: 4rem;
}
=======
>>>>>>> 8e6ac9ab5f677bdb4e4e0836d526192c615058a2
